<div class="container">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="about__wrapper">
        <div class="about__cicle"></div>
        <p class="about__title">1978 <span class="about__year">г</span>.</p>
        <p class="about__text">Европейцы используют
            шведскую горечь еще
            с 1978 года</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="about__wrapper">
        <div class="about__cicle"></div>
        <p class="about__title">104 <span class="about__year">года</span></p>
        <p class="about__text">104 года прожил
            автор бальзама</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="about__wrapper">
        <div class="about__cicle"></div>
        <p class="about__title">40 <span class="about__year">показаний</span></p>
        <p class="about__text">Больше 40 показаний
            к применению</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="about__wrapper">
        <div class="about__cicle"></div>
        <p class="about__title">24 <span class="about__year">языка</span></p>
        <p class="about__text">8 млн книг на 24 языках
            продано о бальзаме</p>
      </div>
    </div>
  </div>
</div>
