<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2 class="advantage__title">Что из этого списка вы находите у себя?</h2>
    </div>
  </div>

  <div class="row">
    <div class="advantage">
    <div class="col-12 col-lg-6">
      <ul class="advantage__list">
        <li class="advantage__item">
          <p class="advantage__item-text"><span class="advantage__item-number">01.</span>Сниженный тонус, не хватает энергии</p>
        </li>
        <li class="advantage__item">
          <p class="advantage__item-text"><span class="advantage__item-number">02.</span>Прыщи, бородавки и растяжки</p>
        </li>
        <li class="advantage__item">
          <p class="advantage__item-text"><span class="advantage__item-number">03.</span>Слабая память и концентрация</p>
        </li>
        <li class="advantage__item">
          <p class="advantage__item-text"><span class="advantage__item-number">04.</span>Болеете чаще раза в год?</p>
        </li>
        <li class="advantage__item">
          <p class="advantage__item-text"><span class="advantage__item-number">05.</span>Головные боли</p>
        </li>
        <li class="advantage__item">
          <p class="advantage__item-text"><span class="advantage__item-number">06.</span>Синяки, шишки, ожоги, порезы долго не проходят </p>
        </li>
        <li class="advantage__item">
          <p class="advantage__item-text"><span class="advantage__item-number">07.</span>Плохо засыпаете и часто просыпаетесь</p>
        </li>
        <li class="advantage__item">
          <p class="advantage__item-text"><span class="advantage__item-number">08.</span>Проблемы с желудком</p>
        </li>
        <li class="advantage__item">
          <p class="advantage__item-text"><span class="advantage__item-number">09.</span>Стресс</p>
        </li>
      </ul>
    </div>
    </div>
    <div class="col-lg-6">
      <div class="advantage__img">
          <img
          src="img/snapshot.jpg"
          srcset="img/snapshot@2x.jpg 2x"
          alt="снимок"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="advantage__description">
      <div class="col-12" >
        <div class="advantage__description-wrapper">
            <p class="advantage__text">
                Более 2 000 покупателей доказали
                эффективность «Шведской горечи»
                в каждом из этих случаев
            </p>
            <p class="advantage__reviews">Читать отзовы</p>
        </div>


      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-lg-6">
        <div class="advantage__wrapper">
        <a href="#" class="intro__link">Узнать больше</a>
      </div>
    </div>
  </div>

</div>
