<div class="advantage">
  <div class="container">

    <!-- ряд с заголовком -->
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3 col-xl-6 offset-xl-0">
        <h2 class="advantage__title">Что из этого списка вы находите у себя?</h2>
      </div>

      <!-- ряд с приумуществами -->
      <div class="col-12 col-md-10 offset-md-1 col-xl-7 offset-xl-0">
        <ul class="advantage__list">
          <li class="advantage__item">
            <p class="advantage__item-number">01.</p>
            <p class="advantage__item-text">Сниженный тонус, не хватает энергии</p>
          </li>
          <li class="advantage__item">
            <p class="advantage__item-number">02.</p>
            <p class="advantage__item-text">Прыщи, бородавки и растяжки</p>
          </li>
          <li class="advantage__item">
            <p class="advantage__item-number">03.</p>
            <p class="advantage__item-text">Слабая память и концентрация</p>
          </li>
          <li class="advantage__item">
            <p class="advantage__item-number">04.</p>
            <p class="advantage__item-text">Болеете чаще раза в год?</p>
          </li>
          <li class="advantage__item">
            <p class="advantage__item-number">05.</p>
            <p class="advantage__item-text">Головные боли</p>
          </li>

          <div class="advantage__item-wrapper">
            <li class="advantage__item advantage__item--flex">
              <p class="advantage__item-number advantage__item-number--flex">06.</p>
              <p class="advantage__item-text advantage__item-text--flex">Синяки, шишки, ожоги, порезы долго не проходят </p>
            </li>
            <li class="advantage__item advantage__item--flex">
              <p class="advantage__item-number advantage__item-number--flex">07.</p>
              <p class="advantage__item-text advantage__item-text--flex">Плохо засыпаете и часто просыпаетесь</p>
            </li>
            <li class="advantage__item advantage__item--flex">
              <p class="advantage__item-number advantage__item-number--flex">08.</p>
              <p class="advantage__item-text advantage__item-text--flex">Проблемы с желудком</p>
            </li>
            <li class="advantage__item advantage__item--flex">
              <p class="advantage__item-number advantage__item-number--flex">09.</p>
              <p class="advantage__item-text advantage__item-text--flex">Стресс</p>
            </li>
          </div>
        </ul>
      </div>


      <!-- блок с картинкой -->
      <div class="col-12 col-xl-5">
        <div class="advantage__bg">
          <div class="advantage__img">
            <img
            src="img/snapshot.jpg"
            alt="снимок"
            />
          </div>
        </div>
      </div>

      <!-- блок с отзывами -->
      <div class="col-12 col-md-6 offset-md-3 col-xl-4 offset-xl-7">
        <div class="advantage__description-wrapper">
          <div class="advantage__description">
            <p class="advantage__text">
                Более 2 000 покупателей доказали
                эффективность «Шведской горечи»
                в каждом из этих случаев
            </p>
            <p class="advantage__reviews">Читать отзывы</p>
          </div>
        </div>
      </div>

      <!-- блок с кнопкой -->
      <div class="col-12 p-0 col-xl-5 offset-xl-7">
          <div class="advantage__wrapper">
          <a href="#" class="intro__link">Избавиться от проблем</a>
        </div>
      </div>

    </div>
  </div>
</div>

