<section class="create">
  <div class="container be_static ">
    <div class="row no-gutters justify-content-center justify-content-xl-start ">

      <div class="col-12 col-md-10 col-xl-7">
        <div class="create__wrapper">
          <div class="create__border">
            <!-- заголовок -->
            <h2 class="create__title">Вы принимаете участие в создании эликсира</h2>

            <!-- текст -->
            <div class="create__text">
              <p>
                Приготовление бальзама потребует от вас минимум усилий. Достаточно
                залить травы 1,5 литрами водки и настоять в течение 14 дней ежедневно
                взбалтывая.
              </p>
              <p>
                Но даже такое небольшое количество действий даст вам возможность
                почувствовать себя настоящим врачевателем и привнесет вашу энергетику
                в получившийся целительный эликсир.
              </p>
              <p class="create__time">Настоя одной упаковки хватает на 4-5 месяцев</p>
            </div>

            <!-- кнопка -->
            <div class="create__btn">
              <a href="#" class="link">создать эликсир молодости и здоровья</a>
            </div>
          </div>
        </div>
      </div>

      <!-- изображение -->
      <div class="create__img">
          <img src="img/elixir.jpg" srcset="img/elixir@2x.jpg 2x" alt="элексир">
      </div>
    </div>
  </div>
</section>
