<div class="extra">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-10">
        <!-- заголовок -->
        <h2 class="extra__title">
          Что вы получите вместе со сбором трав «Шведская горечь»?
        </h2>
      </div>

      <div class="col-10">
        <!-- блок1 -->
        <div class="extra__block">
          <div class="extra__img">
            <img src="img/herbs.svg" alt="сбор трав" />
          </div>
          <p class="extra__text">сбор трав</p>
          <p class="extra__number">01</p>
        </div>
      </div>

      <div class="col-10">
        <!-- блок2 -->
        <div class="extra__block">
          <div class="extra__img">
            <img src="img/book.svg" alt="инструкция" />
          </div>
          <p class="extra__text">инструкция по применению</p>
          <p class="extra__number">02</p>
        </div>
      </div>

      <div class="col-10">
        <!-- блок3 -->
        <div class="extra__block">
          <div class="extra__img">
            <img src="img/certificate.svg" alt="сертификат" />
          </div>
          <p class="extra__text">сертификат качества</p>
          <p class="extra__number">03</p>
        </div>
      </div>
    </div>
  </div>
</div>
