<header class="header">
  <div class="container">
    <div class="row justify-content-around align-items-md-center">
      <div class="col-4">
        <div class="header__logo">
          <img
            src="img/logo.png"
            srcset="img/logo@2x.png 2x, img/logo@3x.png 3x"
            alt="лого"
          />
        </div>
      </div>
      <p class="col-md-4 header__delivery">Доставка по всей России</p>
      <div class="col-7 col-md-4 header__phone">
        <p class="col-md-12 header__phone-number">8 800 000-00-00</p>
        <p class="col-md-12 header__phone-text">Звонок бесплатный</p>
      </div>
    </div>
  </div>
</header>
