<header class="header">
    <div class="container">
        <div class="row">

            <div class="col-4">
                <div class="header__logo">
                    <img src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x" alt="лого">
                </div>
            </div>

            <p class="col-md-4 header__delivery">Доставка по всей России</p>

            <div class="col-6 offset-md-0 col-md-4 header__phone">
                <div class="row">
                    <div class="header__phone-img">
                        <img src="img/phone.svg" alt="иконка телефона">
                    </div>
                    <p class="header__phone-number">8 800 000-00-00</p>
                </div>

                <p class="header__phone-text">Звонок бесплатный</p>
            </div>
        </div>
    </div>
</header>
