<div class="container">
  <div class="intro">
    <div class="row justify-content-center flex-md-row-reverse">
      <div class="col-8 col-md-5">
        <h2 class="intro__name">Сбор трав</h2>
        <h1 class="intro__title">Шведская горечь</h1>
        <p class="intro__description">Не имеет аналогов в мире  по оздоровительной силе и широте лечбных свойств</p>
      </div>
      <div class="col-12 col-md-6">
        <div class="intro__img" >
          <img src="img/package.jpg" srcset="img/package@2x.jpg 2x" alt="упаковка">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-md-6 ml-auto">
          <p class="intro__more">Узнать больше</p>
      </div>
  </div>
  <div class="row">
    <div class="col-9">
      <div class="intro-modal">
        <div class="intro-modal__inner">
          <div class="col-6">
            <p class="intro-modal__title">Узнайте подробнее о бальзаме</p>
          </div>
          <div class="col-6">
            <form action="">
                <fieldset>
                  <div class="intro-modal__wrapper">
                    <div class="intro-modal__name">
                      <input type="text" placeholder="Имя">
                    </div>
                    <div class="intro-modal__phone">
                      <input type="text" placeholder="Телефон" required>
                    </div>
                  </div>
                </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
