<section class="quality">
  <div class="container">
    <div class="row no-gutters justify-content-center justify-content-xl-start">

      <div class="col-10">
        <h2 class="quality__title">Гарантия качества</h2>
      </div>

      <div class="col-10 col-xl-7">
        <p class="quality__text">
          Если бальзам вам не понравится, мы вернем деньги. Сразу и без лишних
          вопросов. Мы дорожим своей репутацией и уверены в продукте на 100%
        </p>
      </div>

      <div class="col-10 col-md-12">
        <div class="quality__wrapper">
          <div class="quality__img">
            <img
              src="img/certificate.jpg"
              srcset="img/certificate@2x.jpg 2x"
              alt="сертификат"
            />
          </div>

          <div class="quality__position">
            <div class="quality__bg">
              <div class="quality__border">
                <p class="quality__subtitle">но:</p>
                <p>
                  Этот эликсир – именно то средство, которое вам всегда захочется
                  иметь дома в аптечке и рекомендовать своим близким.
                </p>
                <p>К каждой упаковке «Шведской горечи» мы прикладываем немецкий сертификат качества.</p>
              </div>
            </div>
            <!-- кнопка -->
            <div class="quality__btn">
              <a href="#" class="link">заказать сбор трав</a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
