<section class="reviews">
  <div class="container">
    <div class="row no-gutters">

      <div class="col-12 col-xl-6">
        <!-- заголовок -->
        <h2 class="reviews__title">Отзывы о «Шведской горечи»</h2>
      </div>

      <div class="col-12">
        <!-- выбор отзовов -->
        <div class="reviews__wrapper">
          <!-- от российскийх потребителей -->
          <div class="reviews__select reviews__active" id="russian">
            <p class="reviews__select-text">от российскийх потребителей</p>
          </div>
          <!-- от зарубежных потребителей -->
          <div class="reviews__select" id="foreigner">
            <p class="reviews__select-text">от зарубежных потребителей</p>
          </div>
        </div>
      </div>

      <!-- отзывы на русском -->
      <div class="col-12">
        <div class="reviews__blocks-wrapper reviews__blocks-wrapper--rus" id="reviews-russian">
          <!-- отзыв№1 -->
          <div class="reviews__blocks">
            <p class="reviews__blocks-text">
              Если время от времени употреблять горечь, то вообще не будет
              болеть ОРЗ или ангинами. Младшему сыну я развожу раствор слабее
              (горечь, вода), он с удовольствием пьет, иногда даже сам просит
              сделать ему горечь. Только делаю меньше половины стакана, чтобы
              малыш смог выпить. Аноним
            </p>
            <p class="reviews__blocks-author">Аноним</p>
          </div>

          <!-- отзыв№2 -->
          <div class="reviews__blocks">
            <p class="reviews__blocks-text">
              Моя семья на протяжение многих лет пользуется шведской горечью.
              При болях в горле мы полоскаем горечью. Когда температура я даю
              горечь и при этом мы не пользуемся таблетками.
            </p>
            <p class="reviews__blocks-author">Натали</p>
          </div>

          <!-- скрытые отзывы -->
          <div class="reviews_extra">
            <!-- отзыв№3 -->
            <div class="reviews__blocks">
              <p class="reviews__blocks-text">
                  Этот сбор действительно очень хорошая вещь.
                  Я его приобрела по совету своей тёти. Замечательно помогает при зубной боли, а также я его постоянно принимаю при простуде. Помогает хорошо и нет никакой химии.
              </p>
              <p class="reviews__blocks-author">Юлия</p>
            </div>

            <!-- отзыв№4 -->
            <div class="reviews__blocks">
              <p class="reviews__blocks-text">
                  Я покупаю уже готовый сбор шведский бальзам. Отказались от многих лекарственных препаратов благодаря бальзаму. Так что могу только посоветовать самим попробовать, это стоит того.
              </p>
              <p class="reviews__blocks-author">Евгений</p>
            </div>
          </div>
        </div>
      </div>

      <!-- отзывы на английском -->
      <div class="col-12">
        <div class="reviews__blocks-wrapper reviews__blocks-wrapper--for" id="reviews-foreigner">
          <!-- отзыв№1 -->
          <div class="reviews__blocks">
            <p class="reviews__blocks-text">
                If from time to time to use bitterness, then it will not be sick with acute respiratory infections or tonsillitis. I dilute the younger son with a weaker solution (bitterness, water), he drinks with pleasure, sometimes even asks me to make him bitterness. I only make less than half a glass so that the baby can drink.
            </p>
            <p class="reviews__blocks-author">Anonymous</p>
          </div>

          <!-- отзыв№2 -->
          <div class="reviews__blocks">
            <p class="reviews__blocks-text">
                My family has enjoyed Swedish bitterness for many years. For sore throats, we rinse with bitterness. When the temperature I give bitterness and at the same time we do not use pills.
            </p>
            <p class="reviews__blocks-author">Natalya</p>
          </div>

          <!-- скрытые отзывы -->
          <div class="reviews_extra">
            <!-- отзыв№3 -->
            <div class="reviews__blocks">
              <p class="reviews__blocks-text">
                  This fee is really a very good thing.
                  I bought it on the advice of my aunt. It helps with toothache, and I always take it for colds. It helps well and there is no chemistry.
              </p>
              <p class="reviews__blocks-author">Yulia</p>
            </div>

            <!-- отзыв№4 -->
            <div class="reviews__blocks">
              <p class="reviews__blocks-text">
                  I buy a ready-made collection of Swedish balm. They abandoned many medications thanks to the balm. So I can only advise you to try it yourself, it's worth it.
              </p>
              <p class="reviews__blocks-author">Evgeniy</p>
            </div>
          </div>

        </div>
      </div>

      <!-- больше отзывов-->
      <div class="col-12">
        <p class="reviews__link" id="reviews-more">Читать ещё отзывы</p>
      </div>

      <!-- кнопка -->
      <div class="col-12 offset-xl-6 col-xl-6">
        <div class="reviews__btn">
          <a href="#" class="link">Присоединиться к тем, кто решил свои проблемы</a>
        </div>
      </div>
    </div>
  </div>
</section>
