<section class="structure">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <!-- заголовок -->
      <div class="col-10">
        <h2 class="structure__title">Состав «Шведской горечи»</h2>
      </div>
      <!-- список -->
      <div class="col-10">
        <ul class="structure__list">
          <li class="structure__item">
            <p class="structure__item-text">
              Все травы, входящие в сбор, собраны в альпийском запо- веднике
              «Гуркталь» и имеют немецкий сертификат качества.
            </p>
          </li>
          <li class="structure__item">
            <p class="structure__item-text">
              Строго выверенные пропорции каждого компонента в составе
            </p>
          </li>
        </ul>
      </div>

      <div class="col-12">
        <div class="structure__block">
          <p class="structure__block-number">— 01</p>
          <p class="structure__block-name">Angelica archangelica</p>
          <div class="structure__block-img">
            <img src="img/herb1.jpg" srcset="img/herb1@2x.jpg 2x" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
