.about__wrapper {
  position: relative;
  margin-top: 50px;
}

.about__title {
  display: inline;
  color: #a4c58c;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 3px solid #a4c58c;
}

.about__year {
  font-size: 18px;
}

.about__text {
  width: 200px;
  margin-top: 25px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .about__wrapper {
    margin-top: 100px;
    padding-left: 50px;
  }

  .about__title {
    font-size: 30px;
  }


  .about__cicle {
    position: absolute;
    top: -35px;
    left: 0;
    height: 26px;
    width: 26px;
    border: 5px solid #a4c58c;
    border-radius: 50%;
    opacity: 0.5;
  }
}

