.advantage {
  width: 100%;
  margin-top: 25px;
  background-color: #f6f9f3;
}

.advantage__title {
  color: #303030;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin-top: 55px;
}

.advantage__list {
  list-style: none;
  padding: 0;
  padding-top: 10px;
}

.advantage__item {
  color: #303030;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid #c2bfbf;
  padding: 20px 5px;

  &:last-child {
    border-bottom: none;
  }
}

.advantage__item-number {
  display: inline-block;
  width: 30px;
  color: #a4c58c;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 600;
}

.advantage__item-text {
  margin: 0;
}

.advantage__img {
  display: none;
}

.advantage__description-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 35px;
  // background-color: #f6f9f3;
}

.advantage__description {
  text-align: center;
  background-color: #f6f9f3;
}

.advantage__text {
  width: 300px;
  margin: 0;
  padding: 40px 20px;
  border: 1px solid #a4c58c;
}

.advantage__reviews {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: -15px;
  // padding: 0 10px;
  background-color: #f6f9f3;
  color: #7eb252;
  font-weight: 600;
  // line-height: 24px;
  text-decoration: underline;
}

// .advantage__wrapper {
//   display: flex;
//   flex-direction: column;
// }

.intro__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 60px;
  background-color: #7eb252;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 768px) {
  .advantage__title {
    font-size: 30px;
    line-height: 40px;
    margin-top: 55px;
    text-align: center;
  }

  .advantage__item-number {
    width: 40px;
  }

  .advantage__item-wrapper {
    display: flex;
    flex-wrap: wrap;

    li:nth-child(2) {
      border-right: none;
      padding-left: 15px;
    }

    li:nth-child(4) {
      border-right: none;
      border-bottom: 1px solid #c2bfbf;
      padding-left: 15px;
    }
  }

  .advantage__item--flex {
    display: flex;
    align-items: center;
    width: 50%;
    border-right: 1px solid #c2bfbf;
  }

  .advantage__item-text--flex {
    text-transform: none;
  }

  .advantage__bg {
    background-color: #a4c58c;
    margin-top: -20px;
  }

  .advantage__img {
    display: block;
    width: 500px;
    margin: 0 auto;
  }

  .advantage__description-wrapper {
    position: absolute;
    top: -165px;
    padding-bottom: 15px;
  }

  .advantage__description {
    height: 180px;
    padding: 20px;
    z-index: 1;
}

  .advantage__text {
    width: 100%;
    text-align: center;
  }

  .advantage__reviews {
    // margin-top: -17px;
  }

  .advantage__wrapper {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .advantage {
    position: relative;
    padding-bottom: 25px;
  }

  .advantage__title {
    font-size: 39px;
    line-height: 50px;
    text-align: start;
    margin-top: 170px;
  }

  .advantage__text {
    /* width: 100%; */
  }

  .advantage__img {
    width: auto;
  }

  .advantage__bg {
    position: absolute;
    top: -680px;
  }

  .advantage__description-wrapper {
    // position: absolute;
    top: -238px;
    // padding-bottom: 15px;
  }

  .advantage__item-wrapper {

  }

  .advantage__description {
    height: 215px;
}
}
