.advantage {
  background-color: #f6f9f3;
  margin-top: 25px;
}

.advantage__title {
  margin-top: 25px;

  color: #303030;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.advantage__list {
  padding: 0;
  padding-top: 10px;

  list-style: none;
}

.advantage__item {
  display: flex;
  padding: 20px 0;

  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #303030;
  line-height: 23px;
  border-bottom: 1px solid #e9ecef;

  &:last-child {
    border-bottom: none;
  }
}

.advantage__item-number {
  width: 40px;
  height: 9px;
  color: #a4c58c;
}

.advantage__item-text {
  display: inline-block;
  margin: 0;
}

.advantage__img {
  display: none;
}

.advantage__border {
  text-align: center;
  background-color: #f6f9f3;
}

.advantage__border-text {
  margin: 0;
  padding: 40px 20px;
  border: 1px solid #a4c58c;
}

.advantage__reviews {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: -15px;

  background-color: #f6f9f3;
  color: #7eb252;
  font-weight: 600;
  text-decoration: underline;
}

.advantage__btn {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .advantage {
    margin-top: 25px;
  }

  .advantage__title {
    font-size: 29px;
    line-height: 40px;
    text-align: center;
  }

  .advantage__item-text {
    font-size: 14px;
    letter-spacing: 0.7px;
  }

  .advantage__item-wrapper {
    display: flex;
    flex-wrap: wrap;

    li:nth-child(2) {
      border-right: none;
      padding-left: 15px;
    }

    li:nth-child(3) {
      border-bottom: none;
    }

    li:nth-child(4) {
      border-right: none;
      border-bottom: none;
      padding-left: 15px;
    }
  }

  .advantage__item--flex {
    display: flex;
    width: 50%;
    align-items: center;
    border-right: 1px solid #e9ecef;
  }

  .advantage__item-number--flex {
    width: 65px;
  }

  .advantage__item-text--flex {
    text-transform: none;
  }

  .advantage__img-bg {
    background-color: #a4c58c;
    margin-top: -20px;
  }

  .advantage__img {
    display: block;
    width: 500px;
    margin: 0 auto;
  }

  .advantage__border {
    position: absolute;
    top: -120px;
    padding: 15px;
  }

  .advantage__border-text {
    padding: 20px;
  }

  .advantage__btn {
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .advantage {
    padding-bottom: 25px;
    margin-top: 200px;
  }

  .advantage__title {
    font-size: 39px;
    line-height: 50px;
    text-align: start;
  }

  .advantage__item-text--flex {
    font-size: 16px;
  }

  .advantage__img-bg {
    margin-top: -195px;
  }

  .advantage__description-wrapper {
    top: -180px;
    right: 0;
  }

  .advantage__text {
    font-size: 16px;
  }
}
