header {
    margin-top: 25px;
}

.header__logo {
    width: 110px;
    height: 16px;
}

.header__delivery {
    display: none;
}

.header__phone-img {
    display: none;
}

.header__phone-text {
    display: none;
}

.header__phone-number {
    font-size: 14px;
    color: #303030;
}
  
  
  
  @media (min-width: 768px) {
    


  }
  
  @media (min-width: 992px) {

  }