.header {
  margin-top: 25px;
  margin-bottom: 25px;
}

.header__logo {
  width: 110px;
  height: 16px;
}

.header__delivery {
  display: none;
  color: #9a9a9a;
}

.header__phone-img {
  display: none;
}

.header__phone-text {
  display: none;
  text-align: right;
}

.header__phone-number {
  font-size: 14px;
  color: #303030;
  margin: 0;
  text-align: right;
}

@media (min-width: 768px) {
  .header__logo {
    width: 198px;
    height: 29px;
  }

  .header__delivery {
    display: block;
  }

  .header__phone-img {
    width: 16px;
    height: 16px;
    border: 1px solid red;
  }

  .header__phone-text {
    display: block;
  }

  .header__phone-number {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 145px;
      top: 1px;
      background-image: url('../img/phone.svg');
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: 992px) {

}
