.intro-fix {
  position: relative;
}

.intro {
  background: url("../img/bg_header.jpg") no-repeat right;
  background-size: cover;
  padding-top: 35px;
}

.intro__name {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.intro__title {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.intro__description {
  display: none;
}

.intro__img {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 30px;
  width: 86px;
  height: 188px;
}

.intro__wrapper {
  display: flex;
  justify-content: center;
}

.intro__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 60px;
  width: 300px;
  background-color: #7eb252;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

// Модальное окно
.intro-modal {
  position: absolute;
  top: 177px;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
}

.intro-modal__inner {
  border: 1px solid #a4c58c;
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-modal__title {
  width: 185px;
  color: #303030;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 22px;
  font-weight: 700;
}

.intro-modal__wrapper {
  display: flex;
  flex-direction: column;
}

.intro-modal__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a4c58c;
  line-height: 18px;
  width: 185px;
  margin-right: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
  outline: none;
}

.intro-modal__btn {
  width: 195px;
  height: 60px;
  background-color: #7eb252;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin-top: 35px;
  display: block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url("../img/arrow.svg") no-repeat center;
    width: 31px;
    height: 10px;
    opacity: 0.8;
    top: 25px;
    right: 25px;
  }
}

.intro-modal__close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &::before {
    position: absolute;
    left: 15px;
    content: "";
    height: 33px;
    width: 2px;
    background-color: #333333;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    left: 15px;
    content: "";
    height: 33px;
    width: 2px;
    background-color: #333333;
    transform: rotate(-45deg);
  }
}

@media (min-width: 576px) {
  .intro-modal {
    width: 510px;
  }
}

@media (min-width: 768px) {
  .intro-fix {
    min-height: 775px;
  }

  .intro {
    height: 554px;
    padding-top: 95px;
    margin-bottom: 230px;
  }

  .intro__name {
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: left;
    margin-top: 30px;
  }

  .intro__title {
    font-size: 50px;
    text-align: left;
    margin-top: 35px;
  }

  .intro__description {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 20px;
  }

  .intro__img {
    margin-top: 0;
    width: 298px;
    height: 648px;
  }

  .intro__wrapper {
    position: absolute;
    top: -316px;
    right: -345px;
}

  // Модальное окно
  .intro-modal {
    top: 427px;
    right: 5%;
    width: 571px;
  }

  .intro-modal__inner {
    width: 530px;
    padding: 45px 0 0 45px;
    align-items: flex-start;
  }

  .intro-modal__title {
    text-align: left;
  }

  .intro-modal__wrapper {
    flex-direction: row;
  }

  .intro-modal__input {
    width: 200px;
  }

  .intro-modal__btn {
    width: 250px;
    margin-top: 59px;
    margin-left: auto;


    &::after {
      right: 45px;
    }
  }
}

@media (min-width: 1200px) {
  // Модальное окно
  .intro-modal {
    right: 20%;
  }
 }

