.reviews {
  padding-top: 60px;
}

.reviews__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
}

.reviews__wrapper {
  display: flex;
  position: relative;
  margin-top: 25px;
}

.reviews__select {
  width: 50%;
  padding: 15px;
  text-align: center;
}

.reviews__select-text {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.8;
  text-transform: uppercase;
}

.reviews__blocks-wrapper--for {
  display: none;
  flex-direction: column;
}

.reviews__blocks-wrapper--rus {
  display: flex;
  flex-direction: column;
}

.reviews__blocks-wrapper {
  padding-top: 30px;
  background-color: $bg_color;
}

.reviews__blocks {
  position: relative;
  padding: 20px;
}

.reviews_extra {
  display: none;
  flex-direction: column;
}

.reviews__blocks-text {
  color: #9a9a9a;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 31px;
    height: 3px;
    background-color: $green;
  }
}

.reviews__blocks-author {
  font-weight: bold;
}

.reviews__link {
  color: $green;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-bottom: 30px;
  background-color: $bg_color;
}

.reviews__active {
  background-color: $bg_color;
  color: $green;
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 100px;
  }

  .reviews__title {
    font-size: 40px;
    line-height: 1.33;
  }

  .reviews__select {
    padding: 30px;
  }

  .reviews__select-text {
    font-size: 14px;
    text-align: left;
    line-height: 1.43;
  }

  .reviews__blocks {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .reviews {
    padding-top: 150px;
  }

  .reviews__title {
    text-align: left;
  }

  .reviews__blocks-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews__blocks-wrapper--for {
    display: none;
    flex-direction: row;
  }

  .reviews__blocks-wrapper--rus {
    flex-direction: row;
  }

  .reviews__blocks {
    width: 50%;
  }

  .reviews_extra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .reviews__link {
    display: none;
  }

  .reviews__btn {
    margin-top: 30px;
  }
}
